:root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}
h1 {
    text-align: center;
    color: #333;
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
    position: relative;
}

.counter-container {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto;
}

.count {
    font-size: 48px;
    margin: 20px 0;
}

.duong {
    color: green;
}

.am {
    color: red;
}

.bang_khong {
    color: gray;
}

.status {
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    margin: 0 5px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: #007bff;
    color: white;
}

button:hover {
    background-color: #0056b3;
}



