body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 20px;
}

.todo-container {
  background: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
  width: 600px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  margin-bottom: 20px;
}

input {
  flex: 1;
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
  border: 1px solid #ddd;
}

input:focus {
  outline: none;
  border-color: #c4c1c1;
}

button {
  padding: 10px 20px;
  margin-left: 5px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  background-color: #007bff;
  color: white;
}

button:hover {
  background-color: #0056b3;
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 8px;
  border-bottom: 1px solid #ddd;
  gap: 16px;
}

.todo-item.completed span {
  text-decoration: line-through;
  color: gray;
}

.todo-item button {
  padding: 5px 10px;
  margin-left: 5px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #ff6b6b;
  color: white;
}

.todo-item input[type="checkbox"] {
  margin: 0 8px 0 0;
  width: 20px;
  height: 20px;
  accent-color: #007bff;
}

.todo-item span {
  flex: 1;
  font-size: 18px;
  word-break: break-word;
}

.stats {
  margin-top: 15px;
  font-size: 14px;
  text-align: center;
  color: #ed3333;
}